<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NSLocationAlwaysAndWhenInUseUsageDescription</key>
	<string>&quot;We need location access to provide relevant map data.&quot;</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>&quot;We need your location to show your position on the map.&quot;</string>
</dict>
</plist>
