<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.savms.mapper.VehicleMapper">
    <update id="update" parameterType="com.savms.model.entity.Vehicle">
        update vehicle
        <set>
            <if test="registrationNumber != null"> registration_number = #{registrationNumber}, </if>
            <if test="registrationDate != null"> registration_date = #{registrationDate}, </if>
            <if test="batteryLevel != null"> battery_level = #{batteryLevel}, </if>
            <if test="currentLocation != null"> current_location = #{currentLocation}, </if>
            <if test="status != null"> status = #{status}, </if>
            <if test="vehicleDamage != null"> vehicle_damage = #{vehicleDamage}, </if>
            <if test="lastUpdate != null"> last_update = #{lastUpdate}, </if>
            <if test="model != null"> model = #{model}, </if>
            <if test="manufacturer != null"> manufacturer = #{manufacturer}, </if>
        </set>
        where id = #{id}
    </update>



</mapper>